body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #121212;
}

#container {
    width: 1440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.module {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    margin: 96px 0px 0px 230px;
}

.image {
    width: 505px;
    height: 330px;
    background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg);
}

.content {
    width: 380px;
    height: 250px;
    margin-left: 95px;
}

h1 {
    width: 380px;
    height: 50px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #121212;
}

p {
    width: 380px;
    height: 96px;
    margin: 24px 0 32px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
}

.button {
    width: 128px;
    height: 48px;
    padding: 16px 40px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    background-color: #E4C1AE;
}

span {
    width: 48px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

/* popup window*/

#popup-container {
    position: fixed;
    width: 380px;
    height: 98px;
    margin: auto auto auto 95px;
    padding-top: 56px;
}

#popup-header {
    width: 380px;
    height: 50px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #121212;
}

#popup-content {
    width: 380px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
}

#overlay {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    left: 0;
    top: 0;
    position: fixed;
    background: #121212;
    z-index: 1;
}

#popup-window {
    width: 920px;
    height: 210px;
    margin: 20% auto;
    background: white;
    position: fixed;
    opacity: 1;
    z-index: 2;
}

#close-button {
    position: absolute;
    right: 45px;
    top: 30px;
    width: 25px;
    height: 35px;
    font-size: 200%;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: white;
}

#reset-button {
    border-radius: 20px;
    width: 120px;
    height: 25px;
    padding: 4px 5px;
    border: 2px solid black;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
}

.active {
    display: block;
}

.inactive {
    display: none;
}