body {
    margin: 0;
    /* display: flex;
    justify-content: center; */
}

#container {
    width: 1440px;
}

.module {
    width: 1440px;
}

.image {
    position: absolute;
    width: 505px;
    height: 330px;
    /* margin: 96px 0px 0px 230px; */
    left: 230px;
    top: 96px;
    background: url(../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg);
}
.content {
    width: 380px;
    height: 250px;
}
/* .content h1 */
h1 {
    position: absolute;
 
    width: 380px;
    height: 50px;
    /* left: calc(50% - 380px/2 + 300px); */
    top: calc(50% - 50px/2 - 319px);
    left: calc(720px - 380px/2 + 300px);
    /* top: calc(720px - 50px/2 - 319px); */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #121212;
}

p {
    position: absolute;
    
    width: 380px;
    height: 96px;
    /* left: calc(50% - 380px/2 + 300px); */
    left: calc(720px - 380px/2 + 300px);
    top: calc(50% - 96px/2 - 222px);
    /* top: calc(720px - 96px/2 - 222px); */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 16px 40px;
    gap: 10px;

    position: absolute;

    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;

    background: #E4C1AE;
    border: none;
    border-radius: 32px;
}

span {
    width: 48px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}